<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
<section>
  <br>
  <br>
  <br>
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body border border-dark">
            <h1 class="text-center">Forgot Password</h1>
            <form th:action="@{/passwordReset}" method="post">
              <form action="reset.html" method="GET">
              <div class="form-group">
                <div class="form-group" id="write">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" class="form-control mb-3" placeholder="Enter your email" required>
              </div>

              <div class="form-group">
                <div class="col-sm-6">
                  <input type="submit" name="reset-submit" id="reset-submit" class="form-control btn btn-primary" value="Submit">
                </div>
              </div>

            </form>
            </form>
            <!-- Display error or success message -->
            <div th:if="${error}" class="text-danger mt-3">
              <p th:text="${error}"></p>
            </div>
            <div th:if="${message}" class="text-success mt-3" th:href="@{/changePassword}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
